@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
} 

body {
  background-color: antiquewhite;
}


.homescreen {
  width: 97%;
  background-color: rgb(249, 240, 247);
  margin-left: 1.5%;
  margin-top: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
}

.navbar-nav{
  flex: 0.5;
  display: flex;
  justify-content: space-around;
}

.auth-btn-container{
  display: flex;
  width: 150px;
  justify-content: space-between;
}